
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 conversations">
                    <div class="convo">
                        <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-1/c15.0.50.50a/p50x50/10354686_10150004552801856_220367501106153455_n.jpg?_nc_cat=1&_nc_oc=AQlWS01-eRh1CzpBEwRIj0am3ZWCOK5w1qdN_kfSRtRG1d377sZscoaWgcm1m7yf5-qvoMGhKXwC2nd4oRrIwzX2&_nc_ht=scontent-lhr3-1.xx&oh=da76d564acf68fa4b659d8404299d4da&oe=5D7C5EE8" class="convo-image" />
                        <div class="convo-details">
                            <div class="convo-name">John</div>
                            <div class="convo-last-message">Hey, what time you going?</div>
                        </div>
                        <hr class="convo-rule"/>
                    </div>
                </div>
                <div class="col-8 chat">
                    <div class="chat-history">
                        
                    </div>
                    <div class="new-chat">
                        <form class="new-message-form" action="/" method="post">
                            <input class="new-message-input" type="text" name="body" placeholder="Type a message...">
                            <input class="new-message-submit" type="submit" value="send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
  </body>
</html>
