body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f4;
}

.content-container {
    position: relative;
    top: -150px;
    text-align: center;
}

.title {
    font-size: 200px;
    color: #2662c1;
    margin: 0;
}

.strap {
    font-size: 20px;
    color: #2662c1;
}